html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body { margin: 0; }

  .frame { 
    display: flex;
    font-family: Arial;
    font-size: 1.2em;
    /* (#f08D00) voor oranje, (#5dbaea) voor blauw  */
    /* background: #222224;    */
    background: #313133;   
    /* background: #f08D00;    */
    align-items: stretch;
    width: 100vw;
    height: 100vh;
    
  }
  #editor {
    padding: 0.5em;
    color: rgb(212, 212, 212);
    flex-shrink: 0.01;
    /* outline: silver solid medium;  */
  }
  #threeCanvas { 
    width: 100%;
    height: 100%;
    /* background: #444; */
    outline: #a0a0a0 solid thin; 
  }

  .collapsible {
    display: flex;
    background: #444;
    align-items: stretch;
    background-color: #444;
    /* padding: 0.5em; */
    color: white;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    border: 0.2em;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-top: 0.5em;
  }
  
  .collapsible:hover {
    background-color: #a0a0a0;
  }
  
  .content {
    padding: 0.3em;
    display: none;
    overflow: hidden;
    background-color: #313133;
    margin-bottom: 0.8em;
  }

